<!DOCTYPE html>{% load staticfiles %}
<html lang="ar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
{% block meta %}{% endblock %}
    <link rel="icon" href="../../favicon.ico">

    <title> {% block title %} ويكي طِب {% endblock % </title>

    <!-- Bootstrap core CSS -->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'css/bootstrap-rtl.min3.2.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/entypo.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
    <script src="{% static 'js/jquery-ui.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

  </head>
<!-- NAVBAR -->
  <body>
	<div id="header" class="animated bounceInDown container">
		<div class="row">
		        <div class="col-md-offset-2 col-md-2">
				<a href="{% url 'wikithon:index' %}"><img alt="logo" class="img-circle" src="{% static 'logo.jpg' %}"></a>
			</div>

		        <div class="col-md-6">
				<h1><a href="{% url 'wikithon:index' %}"> ويكي طِب </a></h1>
				<p id="subheader"> - </p>
			</div>
		</div>
	</div>

    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">بدّل شريط التصفح</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li {% block events %}{% endblock %}><a href="{% url 'wikithon:signup' %}"> سجّل </a></li>
                <li {% block charter %}{% endblock %}><a href="{% url 'wikithon:login' %}">ادخل</a></li>
                <li {% block about %}{% endblock %}><a href="{% url 'wikithon:about' %}">عن</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">أخرى <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="wikithon:list_categories"> التصانيف </a></li>
                <li class="divider"></li>
                <li><a href="{% url 'wikithon:list_wikithons' %}"> الويكيثونات </a></li>
                <li class="divider"></li>
                <li><a href="{% url 'wikithon:contact' %}"> تواصل </a></li>
              </ul>
            </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container marketing">
<!-- content -->
{% block content %}{% endblock %}


<!-- footer -->
<footer class="footer">
		<div class="container">
			<ul class="nav nav-pills">
				<li><a href="https://twitter.com/wikimedar"><span class="entypo-social twitter"></span> تويتر</a></li>
				<li><a href="#"><span class="entypo docs"></span> المجموعة البريدية</a></li>
				<li><a href="{% url 'wikithon:about' %}"><span class="entypo circled-info"></span> عن المجموعة</a></li>
				<li><a href="https://github.com/osamak/wikiproject-med"><span class="entypo code"></span> الكود المصدري</a></li>
			</ul>

			<p>
			<a class="btn btn-default" href="#" role="button">أعلى</a>
			</p>
		</div>
</footer>

    </div><!-- /.container -->


  </body>
</html>


