{% extends "base.html" %}{% load staticfiles %}
{% block title %}الرئيسية{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'logo' %}" alt="احضر" style="width: 140px; height: 140px;">
          <h2>احضر</h2>
          <p>تعرّف على نشاطنا القادم واحضره!</p>
          <p><a class="btn btn-default" href="{% url 'wikithon:list_wikithons' %}" role="button">المزيد</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img src="{% static 'logo' %}" alt="اختر مقالة" style="width: 140px; height: 140px;">
          <h2>اختر مقالة</h2>
            <p></p>
            <p><a class="btn btn-default" href="{% url 'wikithon:list_categories' %}" role="button">المزيد</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img src="{% static 'logo' %}" alt="ارعَ" style="width: 140px; height: 140px;">
          <h2>ارعَ</h2>
          <p></p>
          <p><a class="btn btn-default" href="{% url 'wikithon:sponsor' %}" role="button">المزيد</a></p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
      <!-- START THE FEATURETTES? -->
{% endblock %}