{% extends 'wikithon/base.html' %}
{% block body %}

</br></br></br></br>
<h1>list wikithons template</h1>

{% if wikithons_set.all %}
    <ul>
    {% for wikithon in wikithons_set.all %}
    <li><a href="{% url 'wikithon:show_wikithons' wikithons.pk %}"> {{ wikithons.name }} </a> ({{ wikithons.date_time }}) </li></br>
    {% endfor %}
    </ul>
{% else %}
<p> No wikithons are available yet. </p>
{% endif %}

<button class="w3-btn w3-section w3-right" >
    <a href="{% url 'wikithon:add_wikithon' %}" target="_blank" id="h1"> إضافة ويكيثون جديد </a>
</button>
</br></br></br></br>
{% endblock %}