{% extends 'wikithon/show_base.html' %}{% load staticfiles %}
{% block title %} {{ Wikithons.name }} {% endblock %}

{% block body %}
<!--permissions-->
        <div>
            <p><strong> {{ Wikithons.name }} </strong>
            <blockquote>
            <ol>
            <li>{{ Wikithons.date_time }} </li>
            <li>{{ Wikithons.duration }}</li>
            <li> {{ Wikithons.description }} </li>
            </ol>
            </blockquote>
        </div>
        <div>
            <button class="btn btn-success" >
                <a href="{% url 'wikithon:single_instructions' %}" target="_blank" > تعديل </a>
            </button></br>
            <button class="btn btn-success" >
                <a href="{% url 'wikithon:delete_wikithon' %}" target="_blank" > حذف </a>
            </button>

            <button class="btn btn-success" >
                <a href="{% url 'wikithon:single_instructions' %}" target="_blank" > التسجيل كفرد </a>
            </button></br>
            <button class="btn btn-success" >
                <a href="{% url 'wikithon:team_instructions' %}" target="_blank" > التسجيل كفريق </a>
            </button>
        </div>
{% endblock %}