{% extends "base.html" %}{% load staticfiles %}
{% block title %}الرئيسية{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'img/user.png' %}" alt="احضر" style="width: 140px; height: 140px;">
          <h2>احضر</h2>
          <p>تعرّف على نشاطنا القادم واحضره! نشاطاتنا تدور في فلك البرمجيات الحرة والثقافة الحرة وهي عامة والدعوة لها مفتوحة وغالبا ما تكون متاحة للرجال والنساء.</p>
          <p><a class="btn btn-default" href="{% url 'events:home' %}" role="button">المزيد</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img src="{% static 'img/microphone.png' %}" alt="تحدث" style="width: 140px; height: 140px;">
          <h2>تحدث</h2>
            <p>هل لك اهتمام بأي مجال ذي علاقة بالبرمجيات الحرة أو الثقافة الحرة أو الأمان الرقمي؟ نريد أن نجلس معك وأن نسمع منك! المجموعة قائمة كليا بمبادرات عفوية.</p>
            <p><a class="btn btn-default" href="{% url 'speak' %}" role="button">المزيد</a></p>
        </div><!-- /.col-md-4 -->
        <div class="col-md-4">
          <img src="{% static 'img/community.png' %}" alt="ارعَ" style="width: 140px; height: 140px;">
          <h2>ارعَ</h2>
          <p>كن داعمًا للجهود التطوعية الرامية للنفع العام والخدمة المجتمعية وإشاعة المعرفة. كن داعما لمجتمع البرمجيات الحرة الناشئ في السعودية. ثمة طرق كثيرة لذلك!</p>
          <p><a class="btn btn-default" href="{% url 'sponsor' %}" role="button">المزيد</a></p>
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->

      {% endblock %}
