{% extends 'wikithon/show_base.html' %}{% load staticfiles %}
{% block title %}{{ Team.name }}{% endblock %}
{% block content %}

{% endblock %}

{% extends 'wikithon/base.html' %}
{% block title %} {{ Team.logo }} - {{ Team.name }} {% endblock %}

{% block body %}
        <div>
          <img src="{{ Team.logo }}" style="width: 140px; height: 140px;">
            <p><strong> {{ Team.name }} </strong>
            <blockquote>
            <ol>
            <li> {{ Team.description }} </li>
            <li>{{ Team.founder }}</li>
            <li> {{ member.Team.members.all }} </li>
            <li> {{ Team.articles }} </li>
            </ol>
            </blockquote>
            <button class="btn btn-success">
				 {% bootstrap_icon "ok-sign" %}<a href="{% url 'wikithon:join_team' %}" target="_blank" > انضم لفريقنا </a>
			</button>
        </div>
{% endblock %}